In [1]:
import pandas as pd
import pdpipe as pdp

In [2]:
df = pd.DataFrame(
    data=[
        [23, 'Living life to its fullest'],
        [23, 'the pen is mightier then the sword'],
        [25, 'all for one and one for all'],
        [44, 'every life is precious'],
        [72,'all of you get off my porch'],
        [50,'boy do I love dogs and cats'],
        [80, 'I gots the dollarz'],
        [80, 'me likey them moniez'],
    ],
    columns=['Age', 'Quote'],
)

In [3]:
df

   Age                               Quote
0   23          Living life to its fullest
1   23  the pen is mightier then the sword
2   25         all for one and one for all
3   44              every life is precious
4   72         all of you get off my porch
5   50         boy do I love dogs and cats
6   80                  I gots the dollarz
7   80                me likey them moniez

In [5]:
pipeline_stages = [
    pdp.TokenizeWords('Quote'),
    pdp.SnowballStem('EnglishStemmer', columns=['Quote']),
    pdp.RemoveStopwords('English', 'Quote'),
]

In [6]:
pipeline = pdp.PdPipeline(pipeline_stages)

In [7]:
pipeline

A pdpipe pipeline:
[ 0]  Tokenize Quote
[ 1]  Stem tokens in Quote
[ 2]  Remove stopwords from Quote

In [8]:
pipeline(df, verbose=True)

- Tokenizing Quote...
- Stemming tokens in Quote...
- Removing stopwords from Quote...

   Age                    Quote
0   23    [live, life, fullest]
1   23   [pen, mightier, sword]
2   25               [one, one]
3   44  [everi, life, precious]
4   72             [get, porch]
5   50    [boy, love, dog, cat]
6   80           [got, dollarz]
7   80          [likey, moniez]